.simpleCart{
  position: absolute;
  top: 10rem;
  right: 0.5rem;
  width: 200px;
  // padding: 0.rem;
}

.simpleCart__contents{
  padding: 0.5rem;
  font-size: large;
  line-height: 1.5;
  background-color: rgb(238, 220, 187);
}

.simpleCart__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}